.form-span-svg {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}